<?xml version="1.0" encoding="UTF-8"?>
<configuration status="warn" monitorInterval="30">
    <Properties>
        <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread][%file:%line] - %msg%n"/>
        <property name="LOG_HOME" value="./logs"/>
        <property name="LOG_NAME" value="demo-webflux"/>
    </Properties>

    <appenders>
        <console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>
        </console>

        <RollingFile name="RollingFile" fileName="${LOG_HOME}/${LOG_NAME}.log"
                     filePattern="${LOG_HOME}/${LOG_NAME}-%d{yyyy-MM-dd}_%i.log.gz">
            <ThresholdFilter level="ALL" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="50MB"/>
            </Policies>
            <DefaultRolloverStrategy max="50"/>
        </RollingFile>
    </appenders>

    <loggers>
        <root level="info">
            <appender-ref ref="Console"/>
            <appender-ref ref="RollingFile"/>
        </root>

        <logger name="org.mybatis" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </logger>
        <logger name="org.springframework" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </logger>

        <logger name="org.apache.catalina.startup.DigesterFactory" level="error"/>
        <logger name="org.apache.catalina.util.LifecycleBase" level="error"/>
        <logger name="org.apache.coyote.http11.Http11NioProtocol" level="warn"/>
        <logger name="org.apache.sshd.common.util.SecurityUtils" level="warn"/>
        <logger name="org.apache.tomcat.util.net.NioSelectorPool" level="warn"/>
        <logger name="org.crsh.plugin" level="warn"/>
        <logger name="org.crsh.ssh" level="warn"/>
        <logger name="org.eclipse.jetty.util.component.AbstractLifeCycle" level="error"/>
        <logger name="org.hibernate.validator.internal.util.Version" level="warn"/>
        <logger name="org.springframework.boot.actuate.autoconfigure.CrshAutoConfiguration" level="warn"/>
        <logger name="org.springframework.boot.actuate.endpoint.jmx" level="warn"/>
        <logger name="org.thymeleaf" level="warn"/>
        <logger name="org.springframework.data.convert.CustomConversions" level="error"/>
    </loggers>
</configuration>
